@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-gruv-bg0h: #1d2021;
  --color-gruv-bg0: #282828;
  --color-gruv-bg1: #3c3836;
  --color-gruv-bg2: #504945;
  --color-gruv-fg: #ebdbb2;
  --color-gruv-fg1: #d5c4a1;
  --color-gruv-gray: #928374;
  --color-gruv-yellow: #fabd2f;
  --color-gruv-orange: #fe8019;
  --color-gruv-green: #b8bb26;
  --color-gruv-aqua: #8ec07c;
  --color-gruv-red: #fb4934;
  --color-gruv-blue: #83a598;
  --color-gruv-purple: #d3869b;
}

html {
  background-color: #09090b;
}

body {
  background-color: #09090b;
  color: #f4f4f5;
}

::selection {
  background: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 8px;
  border: 2px solid #09090b;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}
